/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); // stop highlights element blue when tapping
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  //margin-block-start: 0;
  //margin-block-end: 0;
}

ul[role='list'], ol[role='list']{
  list-style: none;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

legend {
  display: block;
}

img, picture, svg, video, canvas{
  background-repeat: no-repeat;
  background-size: cover;
}
