$base-font-size: 14px;

//design breakpoint
$design-mobile-width: 360px;
$design-tablet-width: 768px;
$design-laptop-width: 1024px;
$design-desktop-width: 1920px;

//frontend breakpoint
$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1440px;

$color-default-background: #111111;
$color-primary: #ffffff;

$font-main: 'Proxima Nova', sans-serif;
$font-Montserrat: var(--font-Montserrat), sans-serif;
