{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "proseWrap": "always",
  "useTabs": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
