.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  flex: 1 1;
}

.vercelLogo {
  filter: invert(1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem(40px);
  padding: rem(20px);
}

.Line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.DivRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.IconMenu {
  width: rem(50px);
  height: rem(50px);
}
