.Home {
  display: flex;
  flex-direction: column;
  padding: calc(2wv - #{1px});

  p {
    font-family: $font-Inter;
    font-size: 16px;
  }

  .TextImage {
    font-size: 10px;

    @include iftablet {
      font-size: 16px;
    }
    @include iflaptop {
      font-size: 24px;
    }
    @include ifdesktop {
      font-size: 32px;
    }
  }

  .VercelLogo {
    width: 128px;
    height: 128px;

    @include iftablet {
      width: 192px;
      height: 192px;
    }
    @include iflaptop {
      width: 256px;
      height: 256px;
    }
    @include ifdesktop {
      width: 320px;
      height: 320px;
    }

    &_rel {
      position: relative;
    }

    &_alt {
      filter: invert(1);
    }
  }

  .Center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;

    @include ifdesktop {
      grid-template-columns: 1fr 1fr;
    }
  }

  .Line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .DivRow {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .IconMenu {
    width: 50px;
    height: 50px;
  }

  .Wrapper {
    border: 1px solid white;
    padding: 30px;
  }

  .List {
    padding: 0 5px;
  }

  .Item {
    padding: 8px 12px;
  }
}
