.Home {
  display: flex;
  flex-direction: column;
  padding: calc(2wv - #{1px});

  p {
    font-family: $font-Inter;
    font-size: 16px;
  }

  .MarginTop {
    margin-top: 40px;
  }

  .TestCaseWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .TestCaseOnlyPX {
    border: 1px solid red;
    width: fit-content;
  }

  .TestCaseToRem {
    border: 1px solid green;
    width: fit-content;
  }

  .AnotherClassTest {
    padding: 5px 15px;
  }

  .BoxShadow {
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
  }

  .BoxShadowOne {
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.8);
  }
  .BoxShadowTwo {
    box-shadow: 0 6px 24px rgba(255, 255, 255, 0.3);;
  }

  .TextImage {
    font-size: 10px;

    @include iftablet {
      font-size: 16px;
    }
    @include iflaptop {
      font-size: 24px;
    }
    @include ifdesktop {
      font-size: 32px;
    }
  }

  .VercelLogo {
    width: 128px;
    height: 128px;

    @include iftablet {
      width: 192px;
      height: 192px;
    }
    @include iflaptop {
      width: 256px;
      height: 256px;
    }
    @include ifdesktop {
      width: 320px;
      height: 320px;
    }

    &_rel {
      position: relative;
    }

    &_alt {
      filter: invert(1);
    }
  }

  .Center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;

    @include ifdesktop {
      grid-template-columns: 1fr 1fr;
    }
  }

  .Line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .DivRow {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .DivGap {
    gap: 20px;

    @include ifdesktop {
      gap: 40px;
    }
  }

  .IconMenu {
    width: 50px;
    height: 50px;
  }

  .Wrapper {
    border: 1px solid white;
    padding: 0 20px;
  }

  .List {
    padding: 0 5px;
  }

  .Item {
    padding: 8px 12px;
  }
}
