.Button {
  @extend %button;
  background-color: #212121;
  border: 1px solid grey;
  border-radius: rem(8px);
  padding: rem(8px) rem(12px);
  font-size: rem(16px);
  transition: all 0.25s ease-in-out;

  &:hover {
    border: 1px solid lightgrey;
  }
}
